<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <header>
        <h1>LPWSD</h1>
        <h:form>  
            <p:menubar>
            </p:menubar>
        </h:form>
    </header>
</ui:composition>