<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    <header>
        <h1>LPWSD</h1>
        <h:form>  
            <p:menubar>
                <p:menuitem value="Início" icon="ui-icon-home" url="/faces/index.xhtml" />

                <p:submenu label="Gerenciar" icon="ui-icon-gear" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Bibliotecário' || USUARIOLogado.tipoUsuario == 'Funcionario'}">
                    <p:menuitem value="Assuntos" icon="ui-icon-person" url="/faces/assuntos.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Bibliotecário'}" />
                    <p:menuitem value="Autores" icon="ui-icon-person" url="/faces/autores.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador'}" />
                    <p:menuitem value="Editoras" icon="ui-icon-person" url="/faces/editora.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador'}" />
                    <p:menuitem value="Exemplares" icon="ui-icon-person" url="/faces/exemplar.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionario'}" />
                    <p:menuitem value="Acervos" icon="ui-icon-person" url="/faces/acervo.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Bibliotecário'}" />
                    <p:menuitem value="Livros" icon="ui-icon-person" url="/faces/livros.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Bibliotecário'}" />
                </p:submenu>
                
                <p:submenu label="Emprestimo" icon="ui-icon-book" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}">
                    <p:menuitem value="Emprestar" icon="ui-icon-book" url="/faces/emprestimo.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}" />
                    <p:menuitem value="Consultar" icon="ui-icon-book" url="/faces/ConsultarEmprestimo.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}" />
                    <p:menuitem value="Devolver" icon="ui-icon-book" url="/faces/devolver-emprestimo.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}" />
                </p:submenu>
                
                <p:submenu label="Reserva" icon="ui-icon-book" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}">
                    <p:menuitem value="Cadastro" icon="ui-icon-book" url="/faces/reserva.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}" />
                    <p:menuitem value="Consulta/Cancelamento" icon="ui-icon-book" url="/faces/buscarReserva.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador' || USUARIOLogado.tipoUsuario == 'Funcionário' || USUARIOLogado.tipoUsuario == 'Professor' || USUARIOLogado.tipoUsuario == 'Aluno'}" />
                </p:submenu>
                
                <p:submenu label="Usuario" icon="ui-icon-gear" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador'}">
                    <p:menuitem value="Cadastrar Usuario" icon="ui-icon-person" url="/faces/cadastroUsuario.xhtml" rendered="#{USUARIOLogado.tipoUsuario == 'Administrador'}" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </header>
</ui:composition>