<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Consultar Acervo</h2>
            <h:form>
                <h:panelGrid columns="1" cellpadding="6">
                    <h:outputLabel for="titulo" value="Título:" style="font-weight:bold" />
                    <p:inputText id="titulo" value="#{AcervoBean.filtro.título}" />
                    <h:outputLabel for="autor" value="Autor:" style="font-weight:bold" />
                    <p:selectOneMenu id="autorAcervo" value="#{AcervoBean.filtro.autor}" style="width:150px">
                        <f:selectItems value="#{AcervoBean.autoresDb}" />
                    </p:selectOneMenu>
                    <h:outputLabel for="assunto" value="Assunto:" style="font-weight:bold" />
                    <p:selectOneMenu id="assuntoAcervo" value="#{AcervoBean.filtro.assunto}" style="width:150px">
                        <f:selectItems value="#{AcervoBean.assuntosDb}" />
                    </p:selectOneMenu>
                    <p:commandButton value="Pesquisar" actionListener="#{AcervoBean.consultarAcervos}" onclick="record.hide()" alt="Record" />
                    <h:outputText id="display" />
                </h:panelGrid>
                
                <p:dataTable var="lista" value="#{AcervoBean.acervos}"
                             id="tabelaAssunto" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,9999" style="width:100%">

                    <p:column headerText="Título" sortBy="#{lista.titulo}" filterBy="#{lista.titulo}">
                        <h:outputText value="#{lista.titulo}" />
                    </p:column>
                    
                    <p:column headerText="Quantidade" sortBy="#{lista.quantidade}" filterBy="#{lista.quantidade}">
                        <h:outputText value="#{lista.quantidade}" />
                    </p:column>

                    <p:column headerText="Disponíveis:" sortBy="#{lista.quantidadeDisponivel}" filterBy="#{lista.quantidadeDisponivel}">
                        <h:outputText value="#{lista.quantidadeDisponivel}" />
                    </p:column>
                    
                    <p:column headerText="Indisponíveis" sortBy="#{lista.quantidadeIndisponivel}" filterBy="#{lista.quantidadeIndisponivel}">
                        <h:outputText value="#{lista.quantidadeIndisponivel}" />
                    </p:column>
                </p:dataTable>
            </h:form>
    </ui:define>
</ui:composition>