<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<ui:define name="content">
        <h2 class="page-header">Consultar Reserva</h2>
        <br/>
	
			<h:form style="margin:auto;margin-left:2%;" id="form-consulta-reser">
			
 
			<p:dataTable id="dataTable-registros"
						 var="reserva" 
						 value="#{ReservaBean.reservas}" 
						 paginator="true" 
						 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">
                                        <p:column headerText="Id reserva">
                                                        <h:outputText value="#{reserva.idReserva}" />
        				 </p:column>
        				 
        				 <p:column headerText="Data reserva">
            				<h:outputText value="#{reserva.dataReserva}" />
        				 </p:column>
        				 
        				 <p:column headerText="Titulo">
                                             <h:outputText value="#{reserva.exemplarDTO.livroDTO.titulo}" />
        				 </p:column>

                                        <p:column headerText="Cliente">
                                            <h:outputText value="#{reserva.usuarioDTO.usuario}" />
        				 </p:column>
        				<p:column headerText="Ação" >
                                            <p:commandButton icon="ui-icon-trash" value="Cancelar" onclick="PF('remove').show();"> 
                                                <f:setPropertyActionListener target="#{ReservaBean.reservaSelecionada}" value="#{reserva}" />
                                            </p:commandButton> 
                                        </p:column>
			</p:dataTable>
                        <p:dialog header="Cancelar" widgetVar="remove" modal="false"> 
                        Você tem certeza que deseja cancelar?
                        <p:commandButton value="Confirmar" actionListener="#{ReservaBean.cancelarReserva}" onclick="remove.hide()" alt="Delete" /> 
                    </p:dialog>
		</h:form>
	  </ui:define>
</ui:composition>