<ui:composition 
 template="/WEB-INF/templates/layout.xhtml"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	        <ui:define name="content">
                <h2 class="page-header">Consultar Emprestimo</h2>
			<h:form  id="form-consulta-emprestimo">
 
			<p:dataTable id="dataTable-registros"
						 var="emprestimo" 
                                                 value="#{emprestimoBean.emprestimosConsulta}" 
						 rows="15"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         style="width:98%;">
 
                                    <p:column headerText="Id emprestimo">
            				<h:outputText value="#{emprestimo.idEmprestimo}" />
        				 </p:column>
        				 
        				 <p:column headerText="Id exemplar">
                                             <h:outputText value="#{emprestimo.exemplarDTO.idExemplar}" />
        				 </p:column>
        				 
        				 <p:column headerText="Titulo">
                                             <h:outputText value="#{emprestimo.livroDTO.titulo}" />
        				 </p:column>

                                        <p:column headerText="Data Emprestimo">
            				<h:outputText value="#{emprestimo.dataEmprestimo}" />
        				 </p:column>
        				 
        				  <p:column headerText="Data Devolução">
            				<h:outputText value="#{emprestimo.dataDevolucao}" />
        				 </p:column>
        				 
        				 <p:column headerText="Cliente">
                                             <h:outputText value="#{emprestimo.usuarioDTO.usuario}" />
        				 </p:column>
 
			</p:dataTable>
 
		</h:form>
	</ui:define>
</ui:composition>