<ui:composition 
 template="/WEB-INF/templates/layout.xhtml"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
        <ui:define name="content">
        <h2 class="page-header">Devolver Exemplar</h2>
		<h:form id="formPrincipalEmprestimo">
                    <p:messages id="messages" />
                    <p:selectOneMenu id="zasd" value="#{emprestimoBean.exemplarFilter.codigo}" style="width:150px">
                         <f:selectItems value="#{ExemplarBean.exemplares}" />
                    </p:selectOneMenu>
                 <div style="display: inline-flex; width: 100%; margin-top: 3em; margin-bottom: 3em;" class="container flex">
                    <p:commandButton value="Pesquisar" actionListener="#{emprestimoBean.buscarEmprestimosPendentes}" onclick="record.hide()" alt="Record"/>
		</div>
                   
						<p:dataTable id="dataTable-registros"
						 var="emprestimo" 
                                                 value="#{emprestimoBean.emprestimosPendentes}" 
						 rows="15"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         style="width:98%;">
 
                                    <p:column headerText="Id emprestimo">
            				<h:outputText value="#{emprestimo.idEmprestimo}" />
        				 </p:column>
        				 
        				 <p:column headerText="Id exemplar">
                                             <h:outputText value="#{emprestimo.exemplarDTO.idExemplar}" />
        				 </p:column>
        				 
        				 <p:column headerText="Titulo">
                                             <h:outputText value="#{emprestimo.livroDTO.titulo}" />
        				 </p:column>

                                        <p:column headerText="Data Emprestimo">
            				<h:outputText value="#{emprestimo.dataEmprestimo}" />
        				 </p:column>
        				 
        				  <p:column headerText="Data Devolução">
            				<h:outputText value="#{emprestimo.dataDevolucao}" />
        				 </p:column>
        				 
        				 <p:column headerText="Cliente">
                                             <h:outputText value="#{emprestimo.usuarioDTO.usuario}" />
        				 </p:column>
                                                    
                                        <p:column headerText="Ação" >
                                            <p:commandButton icon="ui-icon-plus" value="Devolver" onclick="PF('remove').show();"> 
                                                <f:setPropertyActionListener target="#{emprestimoBean.emprestimoSelecionado}" value="#{emprestimo}" />
                                            </p:commandButton> 
                                        </p:column>
 
			</p:dataTable>
                    
                    <p:dialog header="Devolver" widgetVar="remove" modal="false"> 
                        Você tem certeza que deseja devolver?
                        <p:commandButton value="Confirmar" actionListener="#{emprestimoBean.devolver}" onclick="remove.hide()" alt="Delete" /> 
                    </p:dialog>
                </h:form>

	</ui:define>
</ui:composition>