<ui:composition 
 template="/WEB-INF/templates/layout.xhtml"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
        <ui:define name="content">
        <h2 class="page-header">Cadastrar Emprestimo</h2>
		<h:form id="formPrincipalEmprestimo">
                    <p:messages id="messages" />
                    
                    <p:selectOneMenu id="zasd" value="#{emprestimoBean.filter.nome}" style="width:150px">
                        <f:selectItems value="#{emprestimoBean.usuarios}" />
                    </p:selectOneMenu>
			<p:dataTable id="dataTable-registros-emprestimo"
						 var="livro" 
                                                 value="#{emprestimoBean.livros}" 
						 rows="15"
						 paginator="true"
						 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         style="width:100%;">
 
         				 <p:column headerText="Codigo Exemplar">
                                             <h:outputText value="#{livro.idExemplar}" />
        				 </p:column>
                            
                                         <p:column headerText="Codigo livro">
            				<h:outputText value="#{livro.idLivro}"  />
        				 </p:column>
        				 
						 <p:column headerText="Titulo" >
            				<h:outputText value="#{livro.titulo}" />
        				 </p:column>
 
        				 <p:column headerText="ISBN">
            				<h:outputText value="#{livro.isbn}" />
        				 </p:column>
        				 
                                        <p:column headerText="Ano">
                                            <h:outputText value="#{livro.ano}"  />
        				 </p:column>
        				 <p:column headerText="Circular">
                                             <h:outputText value="#{livro.cicurlar}"  />
        				 </p:column>
        				 

       				 
        				 <p:column headerText="Ação" >
                                            <p:commandButton icon="ui-icon-plus" value="Alugar" onclick="PF('remove').show();"> 
                                                <f:setPropertyActionListener target="#{emprestimoBean.livroDTO}" value="#{livro}" />
                                            </p:commandButton> 
                                        </p:column>
			</p:dataTable>	
                    
                    <p:dialog header="Alugar" widgetVar="remove" modal="false"> 
                        Você tem certeza que deseja alugar?
                        <p:commandButton value="Confirmar" actionListener="#{emprestimoBean.salvarEmprestimo}" onclick="remove.hide()" alt="Delete" /> 
                    </p:dialog>
                </h:form>

	</ui:define>
</ui:composition>