<ui:composition template="/WEB-INF/templates/layout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h2 class="page-header">Gerenciar Livros</h2>
        <br/>
        <h:form id="formPrincipalLivros">
            <div align="center">
                
                <p:dataTable var="lista" value="#{LivroBean.livros}"
                             id="tabelaLivros" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{RowsPerPageDropdown} {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" rowsPerPageTemplate="5,10,25,50,100,9999" style="width:100%">

                    <p:column headerText="Código" sortBy="#{lista.idtbLivro}" filterBy="#{lista.idtbLivro}">
                        <h:outputText value="#{lista.idtbLivro}" />
                    </p:column>
                    
                    <p:column headerText="Titulo" sortBy="#{lista.titulo}" filterBy="#{lista.titulo}">
                        <h:outputText value="#{lista.titulo}" />
                    </p:column>

                    <p:column headerText="ISBN" sortBy="#{lista.isbn}" filterBy="#{lista.isbn}">
                        <h:outputText value="#{lista.isbn}" />
                    </p:column>
                    
                    <p:column headerText="Edição" sortBy="#{lista.edicao}" filterBy="#{lista.edicao}">
                        <h:outputText value="#{lista.edicao}" />
                    </p:column>
                    
                    <p:column headerText="Ano" sortBy="#{lista.ano}" filterBy="#{lista.ano}">
                        <h:outputText value="#{lista.ano}" />
                    </p:column>
                    
                    <p:column headerText="Opções" exportable="false">
                        <center>
                            
                            <p:commandButton icon="ui-icon-pencil" value="Editar" onclick="PF('record').show();"> 
                                <f:setPropertyActionListener target="#{LivroBean.livro}" value="#{lista}" />
                            </p:commandButton>
                            
                            <p:commandButton icon="ui-icon-trash" value="Deletar" onclick="PF('remove').show();"> 
                                <f:setPropertyActionListener target="#{LivroBean.livro}" value="#{lista}" />
                            </p:commandButton> 
                        
                        </center>
                    </p:column>

                </p:dataTable>
            </div>
            <br/>
            
            <p:column>
                <p:commandButton icon="ui-icon-plus" value="Novo" onclick="PF('record').show();">  
                </p:commandButton> 
            </p:column>
            


            <p:confirmDialog global="true">  
                <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />  
                <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />  
            </p:confirmDialog>  


            <p:dialog header="Novo" widgetVar="record" modal="true">
                    <p:panelGrid id="panelRecord" columns="2"> 
<!--                    Código:
                    <p:inputText id="idLivro" value="#{LivroBean.livro.idtbLivro}" />-->
                    Titulo:
                    <p:inputText id="tituloLivro" value="#{LivroBean.livro.titulo}" />
                    ISBS
                    <p:inputText id="isbnLivro" value="#{LivroBean.livro.isbn}" />
                    Edição:
                    <p:inputText id="EdicaoLivro" value="#{LivroBean.livro.edicao}" />
                    Ano:
                    <p:calendar value="#{LivroBean.livro.ano}" pattern="dd/MM/yyyy" />
                    Autores:
                    <p:selectCheckboxMenu id="autoresLivros" value="#{LivroBean.autoresSelecionados}" label="Autores"
                     filter="true" filterMatchMode="startsWith" panelStyle="width:250px">
                        <f:selectItems value="#{LivroBean.autoresDb}" />
                    </p:selectCheckboxMenu>
                       Assunto:
                    <p:selectOneMenu id="assuntoLivros" value="#{LivroBean.assuntosSelecionado}" style="width:150px">
                        <f:selectItems value="#{LivroBean.assuntosDb}" />
                    </p:selectOneMenu>
                        Editora
                    <p:selectOneMenu id="editoraLivros" value="#{LivroBean.editoraSelecionada}" style="width:150px">
                        <f:selectItems value="#{LivroBean.editorasDb}" />
                    </p:selectOneMenu>
                </p:panelGrid>  
                <br/> 
                <p:commandButton value="Salvar" actionListener="#{LivroBean.record}" onclick="record.hide()" alt="Record"/>
            </p:dialog>
            
            <p:dialog header="Deletar" widgetVar="remove" modal="false"> 
                Você tem certeza?
                <p:commandButton value="Deletar" actionListener="#{LivroBean.exclude}" onclick="remove.hide()" alt="Delete" /> 
            </p:dialog>
            
        </h:form>
    </ui:define>
</ui:composition>