<ui:composition template="/WEB-INF/templates/layoutLogin.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
<ui:define name="content">
        <h2 class="page-header">Login Usuario:</h2>    
      <h:form>
          <center>
           <p:messages id="messages" />
            <p:panelGrid columns="2">
                  <p:outputLabel for="nomeUsuario" value="Nome Usuário:" />
                  <p:inputText id="nomeUsuario" value="#{LoginManagedBean.usuario.nomeUsuario}" />
                   
                  <p:outputLabel for="senha" value="Senha:" />
                  <p:password id="senha" value="#{LoginManagedBean.usuario.senha}" />
                   
                  <p:commandButton value="Enviar" icon="ui-icon-star" action="#{LoginManagedBean.envia}" ajax="false">
                  </p:commandButton>
  
            </p:panelGrid>
          </center>

      </h:form>
</ui:define>
</ui:composition>